* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #e4e4e4;
  padding: 10px;
  gap: 10px;
}

.top-icon img {
  max-width: 175px;
}

.profile-section,
.profile-image img {
  width: 100%;
  border-radius: 15px;
}

.dark-bg {
  background-color: #373737;
}

.purple-bg {
  background-color: #1226e7;
}

.white-bg {
  background-color: #fff;
}

.black-icon i {
  color: #373737;
}

.icon-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px 8px;
}

.icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100px;
  color: #fff;
  padding: 25px;
  border-radius: 15px;
}

.one-row-item {
  min-width: 300px;
  flex-grow: 1;
}

.big-icon {
  aspect-ratio: 1/1;
}

.icon-item i {
  font-size: 26px;
}

.footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-icon {
  width: 45px;
}
